@import url(https://fast.fonts.net/lt/1.css?apiType=css&c=62ac05ad-f9d7-443c-9b80-49bcb39d6686&fontids=5664067,5664070,5664077,5664081,5664085,5664089,5664093,5664098,5664103,5664107,5664111,5664115,5664119,5664121,5664128,5664150);
@font-face {
	font-family: "Helvetica Neue LT W05_36 Th It";
	src: url(Fonts/5664067/34e40c5d-d59d-4acd-b71f-a263d0b660e6.eot?#iefix);
	src: url(Fonts/5664067/34e40c5d-d59d-4acd-b71f-a263d0b660e6.eot?#iefix) format("eot"), url(Fonts/5664067/2a7e8f89-c0b2-4334-9c34-7a2078d2b959.woff2) format("woff2"), url(Fonts/5664067/32aad9d8-5fec-4b9d-ad53-4cf7a5b53698.woff) format("woff"), url(Fonts/5664067/d38219c6-3141-463b-bad2-4626f8405be7.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 25 Ult Lt";
	src: url(Fonts/5664070/418d2e49-6a65-426f-b58c-5f601f8557f1.eot?#iefix);
	src: url(Fonts/5664070/418d2e49-6a65-426f-b58c-5f601f8557f1.eot?#iefix) format("eot"), url(Fonts/5664070/ec6281a0-c9c4-4477-a360-156acd53093f.woff2) format("woff2"), url(Fonts/5664070/11066b40-10f7-4123-ba58-d9cbf5e89ceb.woff) format("woff"), url(Fonts/5664070/cc9b0eb1-551c-4c84-b241-fc7934a0bd1d.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 26UltLtIt";
	src: url(Fonts/5664077/777dfbbf-f9a2-4e7b-b6e1-b81c39e5b65a.eot?#iefix);
	src: url(Fonts/5664077/777dfbbf-f9a2-4e7b-b6e1-b81c39e5b65a.eot?#iefix) format("eot"), url(Fonts/5664077/2707a251-2d32-4bb6-a3c4-87114ba2365f.woff2) format("woff2"), url(Fonts/5664077/40f50724-486b-4e7b-9366-237e06eabfc8.woff) format("woff"), url(Fonts/5664077/9d005a92-be34-49dd-b9eb-bccbf751e89d.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 35 Thin";
	src: url(Fonts/5664081/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix);
	src: url(Fonts/5664081/da266c3a-a094-4adc-a81e-12f73609ba16.eot?#iefix) format("eot"), url(Fonts/5664081/7d63ccf8-e0ae-4dee-ad4d-bbc798aa5803.woff2) format("woff2"), url(Fonts/5664081/b2c1327f-ab3d-4230-93d7-eee8596e1498.woff) format("woff"), url(Fonts/5664081/922917a9-4ca8-4c0b-b1bb-417b6ff0210e.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 45 Light";
	src: url(Fonts/5664085/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix);
	src: url(Fonts/5664085/cb0d1e8a-e111-4dbf-82c2-e948aba954c0.eot?#iefix) format("eot"), url(Fonts/5664085/f9c5199e-a996-4c08-9042-1eb845bb7495.woff2) format("woff2"), url(Fonts/5664085/2a34f1f8-d701-4949-b12d-133c1c2636eb.woff) format("woff"), url(Fonts/5664085/fdf10d5e-4ce0-45e5-a6c1-5eaff6cb1c11.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 46 Lt It";
	src: url(Fonts/5664089/99531fe3-1c8b-4966-a5e0-c17d164113c0.eot?#iefix);
	src: url(Fonts/5664089/99531fe3-1c8b-4966-a5e0-c17d164113c0.eot?#iefix) format("eot"), url(Fonts/5664089/5e4f385b-17ff-4d27-a63a-9ee28546c9a8.woff2) format("woff2"), url(Fonts/5664089/116cde47-4a07-44a5-9fac-cbdcc1f14f79.woff) format("woff"), url(Fonts/5664089/dfce121b-01a2-4997-acf0-8cf3bcaf68d6.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 55 Roman";
	src: url(Fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix);
	src: url(Fonts/5664093/522972a6-5867-47ae-82fc-a7cf9bd5d4d4.eot?#iefix) format("eot"), url(Fonts/5664093/08b57253-2e0d-4c12-9c57-107f6c67bc49.woff2) format("woff2"), url(Fonts/5664093/08edde9d-c27b-4731-a27f-d6cd9b01cd06.woff) format("woff"), url(Fonts/5664093/8f4a1705-214a-4dd0-80b8-72252c37e688.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 56 Italic";
	src: url(Fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix);
	src: url(Fonts/5664098/c708845d-fe72-4432-9276-47c4f91aec1c.eot?#iefix) format("eot"), url(Fonts/5664098/4bd56f95-e7ab-4a32-91fd-b8704cbd38bc.woff2) format("woff2"), url(Fonts/5664098/4fe1c328-1f21-434a-8f0d-5e0cf6c70dfb.woff) format("woff"), url(Fonts/5664098/c07fd9e2-5e0b-4297-9229-af0c8e331d94.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 65 Medium";
	src: url(Fonts/5664103/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix);
	src: url(Fonts/5664103/5640036d-d549-4f16-b31e-87da78d9e832.eot?#iefix) format("eot"), url(Fonts/5664103/240c57a0-fdce-440d-9ce3-85e0cb56f470.woff2) format("woff2"), url(Fonts/5664103/7802e576-2ffa-4f22-a409-534355fbea79.woff) format("woff"), url(Fonts/5664103/14d824a2-2a5c-4692-8e30-74f6e177b675.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 66 Md It";
	src: url(Fonts/5664107/46116ca7-5e49-4a08-9af4-07e7182ce7fd.eot?#iefix);
	src: url(Fonts/5664107/46116ca7-5e49-4a08-9af4-07e7182ce7fd.eot?#iefix) format("eot"), url(Fonts/5664107/de68be2a-5d0e-4b8d-b3eb-940f75503e2a.woff2) format("woff2"), url(Fonts/5664107/31029e78-79a0-4940-b82d-2e3c238e1355.woff) format("woff"), url(Fonts/5664107/a8860880-ef55-430f-b420-eccd71f67b19.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 76 Bd It";
	src: url(Fonts/5664111/ae7ba1a5-8e73-4170-81ae-a7d26629e728.eot?#iefix);
	src: url(Fonts/5664111/ae7ba1a5-8e73-4170-81ae-a7d26629e728.eot?#iefix) format("eot"), url(Fonts/5664111/13ab58b4-b5ba-4c95-afde-ab2608fbbbd9.woff2) format("woff2"), url(Fonts/5664111/5018b5b5-c821-4653-bc74-d0b11d735f1a.woff) format("woff"), url(Fonts/5664111/c20f44a1-784c-4d3f-8d7f-aee889b6a7ae.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 85 Heavy";
	src: url(Fonts/5664115/80e123ee-1929-41ec-bf6a-77f92f0d53fe.eot?#iefix);
	src: url(Fonts/5664115/80e123ee-1929-41ec-bf6a-77f92f0d53fe.eot?#iefix) format("eot"), url(Fonts/5664115/7e42a406-9133-48c0-a705-4264ac520b43.woff2) format("woff2"), url(Fonts/5664115/837750e9-3227-455d-a04e-dc76764aefcf.woff) format("woff"), url(Fonts/5664115/cbb49e47-093c-4029-b64c-b5ee08064205.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 86 Hv It";
	src: url(Fonts/5664119/1be05894-26dd-4ade-91b4-b50e43d62c83.eot?#iefix);
	src: url(Fonts/5664119/1be05894-26dd-4ade-91b4-b50e43d62c83.eot?#iefix) format("eot"), url(Fonts/5664119/0acba88f-0de4-4d43-81fd-920d7427f665.woff2) format("woff2"), url(Fonts/5664119/713c9c40-9cbd-4276-819e-d0efaf5d3923.woff) format("woff"), url(Fonts/5664119/b747296b-72be-4443-99e0-8f388100ced0.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 95 Black";
	src: url(Fonts/5664121/c6d8a5c9-f863-4f17-9c32-355e9e9a98b8.eot?#iefix);
	src: url(Fonts/5664121/c6d8a5c9-f863-4f17-9c32-355e9e9a98b8.eot?#iefix) format("eot"), url(Fonts/5664121/fc4fb6ca-f981-4115-b882-c78e9f08be52.woff2) format("woff2"), url(Fonts/5664121/6ed03453-f512-45ba-84bf-fe4ea45d5e6a.woff) format("woff"), url(Fonts/5664121/42f814cb-78f6-46ec-bcc0-3c28842e5ca9.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05 96 Blk It";
	src: url(Fonts/5664128/283fd2a2-0079-40b4-999f-d34f38e7afaa.eot?#iefix);
	src: url(Fonts/5664128/283fd2a2-0079-40b4-999f-d34f38e7afaa.eot?#iefix) format("eot"), url(Fonts/5664128/995add04-59cc-41ea-abd2-4712eaddf2a8.woff2) format("woff2"), url(Fonts/5664128/7090e465-f6bf-4664-8b5a-d877a6915d87.woff) format("woff"), url(Fonts/5664128/e6a63373-d060-4e43-a4e0-3cddad6b6ef9.ttf) format("truetype")
}

@font-face {
	font-family: "Helvetica Neue LT W05_75 Bold";
	src: url(Fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix);
	src: url(Fonts/5664150/4c21ab66-1566-4a85-b310-fbc649985f88.eot?#iefix) format("eot"), url(Fonts/5664150/800da3b0-675f-465f-892d-d76cecbdd5b1.woff2) format("woff2"), url(Fonts/5664150/7b415a05-784a-4a4c-8c94-67e9288312f5.woff) format("woff"), url(Fonts/5664150/f07c25ed-2d61-4e44-99ab-a0bc3ec67662.ttf) format("truetype")
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

main {
	display: block
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

a {
	background-color: transparent
}

code {
	font-family: monospace, monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

img {
	border-style: none
}

button {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button {
	overflow: visible
}

button {
	text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText
}

[type=checkbox],
[type=radio] {
	box-sizing: border-box;
	padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

[hidden] {
	display: none
}

.row {
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -.5rem;
	margin-left: -.5rem
}

.dn {
	display: none
}

.txt-right {
	text-align: right
}

.txt-center {
	text-align: center
}

.pt-0 {
	padding-top: 0
}

.pb-0 {
	padding-bottom: 0
}

.p-0 {
	padding: 0
}

.pt-1 {
	padding-top: 10px
}

.pb-1 {
	padding-bottom: 10px
}

.p-1 {
	padding: 10px
}

.pt-2 {
	padding-top: 20px
}

.pb-2 {
	padding-bottom: 20px
}

.p-2 {
	padding: 20px
}

.pt-3 {
	padding-top: 30px
}

.pb-3 {
	padding-bottom: 30px
}

.p-3 {
	padding: 30px
}

.pt-4 {
	padding-top: 40px
}

.pb-4 {
	padding-bottom: 40px
}

.p-4 {
	padding: 40px
}

.pt-5 {
	padding-top: 50px
}

.pb-5 {
	padding-bottom: 50px
}

.p-5 {
	padding: 50px
}

.pt-6 {
	padding-top: 60px
}

.pb-6 {
	padding-bottom: 60px
}

.p-6 {
	padding: 60px
}

.mt-0 {
	margin-top: 0
}

.mb-0 {
	margin-bottom: 0
}

.m-0 {
	margin: 0
}

.mt-1 {
	margin-top: 10px
}

.mb-1 {
	margin-bottom: 10px
}

.m-1 {
	margin: 10px
}

.mt-2 {
	margin-top: 20px
}

.mb-2 {
	margin-bottom: 20px
}

.m-2 {
	margin: 20px
}

.mt-3 {
	margin-top: 30px
}

.mb-3 {
	margin-bottom: 30px
}

.m-3 {
	margin: 30px
}

.mt-4 {
	margin-top: 40px
}

.mb-4 {
	margin-bottom: 40px
}

.m-4 {
	margin: 40px
}

.mt-5 {
	margin-top: 50px
}

.mb-5 {
	margin-bottom: 50px
}

.m-5 {
	margin: 50px
}

.mt-6 {
	margin-top: 60px
}

.mb-6 {
	margin-bottom: 60px
}

.m-6 {
	margin: 60px
}

.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
	box-sizing: border-box;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	padding-right: .5rem;
	padding-left: .5rem
}

.col-xl {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	max-width: 100%
}

.col-xl-1 {
	-ms-flex-preferred-size: 8.33333333%;
	flex-basis: 8.33333333%;
	max-width: 8.33333333%
}

.col-xl-2 {
	-ms-flex-preferred-size: 16.66666667%;
	flex-basis: 16.66666667%;
	max-width: 16.66666667%
}

.col-xl-3 {
	-ms-flex-preferred-size: 25%;
	flex-basis: 25%;
	max-width: 25%
}

.col-xl-4 {
	-ms-flex-preferred-size: 33.33333333%;
	flex-basis: 33.33333333%;
	max-width: 33.33333333%
}

.col-xl-5 {
	-ms-flex-preferred-size: 41.66666667%;
	flex-basis: 41.66666667%;
	max-width: 41.66666667%
}

.col-xl-6 {
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	max-width: 50%
}

.col-xl-7 {
	-ms-flex-preferred-size: 58.33333333%;
	flex-basis: 58.33333333%;
	max-width: 58.33333333%
}

.col-xl-8 {
	-ms-flex-preferred-size: 66.66666667%;
	flex-basis: 66.66666667%;
	max-width: 66.66666667%
}

.col-xl-9 {
	-ms-flex-preferred-size: 75%;
	flex-basis: 75%;
	max-width: 75%
}

.col-xl-10 {
	-ms-flex-preferred-size: 83.33333333%;
	flex-basis: 83.33333333%;
	max-width: 83.33333333%
}

.col-xl-11 {
	-ms-flex-preferred-size: 91.66666667%;
	flex-basis: 91.66666667%;
	max-width: 91.66666667%
}

.col-xl-12 {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	max-width: 100%
}

.start-xl {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-align: start
}

.center-xl {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center
}

.end-xl {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	text-align: end
}

.middle-xl {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

@media only screen and (max-width:768px) {
	.md-db {
		display: block
	}
	.md-dn {
		display: none
	}
	.md-txt-right {
		text-align: right
	}
	.md-txt-center {
		text-align: center
	}
	.md-pt-0 {
		padding-top: 0
	}
	.md-pb-0 {
		padding-bottom: 0
	}
	.md-p-0 {
		padding: 0
	}
	.md-pt-1 {
		padding-top: 10px
	}
	.md-pb-1 {
		padding-bottom: 10px
	}
	.md-p-1 {
		padding: 10px
	}
	.md-pt-2 {
		padding-top: 20px
	}
	.md-pb-2 {
		padding-bottom: 20px
	}
	.md-p-2 {
		padding: 20px
	}
	.md-pt-3 {
		padding-top: 30px
	}
	.md-pb-3 {
		padding-bottom: 30px
	}
	.md-p-3 {
		padding: 30px
	}
	.md-pt-4 {
		padding-top: 40px
	}
	.md-pb-4 {
		padding-bottom: 40px
	}
	.md-p-4 {
		padding: 40px
	}
	.md-pt-5 {
		padding-top: 50px
	}
	.md-pb-5 {
		padding-bottom: 50px
	}
	.md-p-5 {
		padding: 50px
	}
	.md-pt-6 {
		padding-top: 60px
	}
	.md-pb-6 {
		padding-bottom: 60px
	}
	.md-p-6 {
		padding: 60px
	}
	.md-mt-0 {
		margin-top: 0
	}
	.md-mb-0 {
		margin-bottom: 0
	}
	.md-m-0 {
		margin: 0
	}
	.md-mt-1 {
		margin-top: 10px
	}
	.md-mb-1 {
		margin-bottom: 10px
	}
	.md-m-1 {
		margin: 10px
	}
	.md-mt-2 {
		margin-top: 20px
	}
	.md-mb-2 {
		margin-bottom: 20px
	}
	.md-m-2 {
		margin: 20px
	}
	.md-mt-3 {
		margin-top: 30px
	}
	.md-mb-3 {
		margin-bottom: 30px
	}
	.md-m-3 {
		margin: 30px
	}
	.md-mt-4 {
		margin-top: 40px
	}
	.md-mb-4 {
		margin-bottom: 40px
	}
	.md-m-4 {
		margin: 40px
	}
	.md-mt-5 {
		margin-top: 50px
	}
	.md-mb-5 {
		margin-bottom: 50px
	}
	.md-m-5 {
		margin: 50px
	}
	.md-mt-6 {
		margin-top: 60px
	}
	.md-mb-6 {
		margin-bottom: 60px
	}
	.md-m-6 {
		margin: 60px
	}
	.col-md,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: .5rem;
		padding-left: .5rem
	}
	.col-md {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col-md-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%
	}
	.col-md-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%
	}
	.col-md-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col-md-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%
	}
	.col-md-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%
	}
	.col-md-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col-md-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%
	}
	.col-md-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%
	}
	.col-md-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col-md-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%
	}
	.col-md-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%
	}
	.col-md-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.start-md {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start
	}
	.center-md {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center
	}
	.end-md {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end
	}
	.middle-md {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

@media only screen and (max-width:600px) {
	.sm-dn {
		display: none
	}
	.sm-txt-right {
		text-align: right
	}
	.sm-txt-center {
		text-align: center
	}
	.sm-pt-0 {
		padding-top: 0
	}
	.sm-pb-0 {
		padding-bottom: 0
	}
	.sm-p-0 {
		padding: 0
	}
	.sm-pt-1 {
		padding-top: 10px
	}
	.sm-pb-1 {
		padding-bottom: 10px
	}
	.sm-p-1 {
		padding: 10px
	}
	.sm-pt-2 {
		padding-top: 20px
	}
	.sm-pb-2 {
		padding-bottom: 20px
	}
	.sm-p-2 {
		padding: 20px
	}
	.sm-pt-3 {
		padding-top: 30px
	}
	.sm-pb-3 {
		padding-bottom: 30px
	}
	.sm-p-3 {
		padding: 30px
	}
	.sm-pt-4 {
		padding-top: 40px
	}
	.sm-pb-4 {
		padding-bottom: 40px
	}
	.sm-p-4 {
		padding: 40px
	}
	.sm-pt-5 {
		padding-top: 50px
	}
	.sm-pb-5 {
		padding-bottom: 50px
	}
	.sm-p-5 {
		padding: 50px
	}
	.sm-pt-6 {
		padding-top: 60px
	}
	.sm-pb-6 {
		padding-bottom: 60px
	}
	.sm-p-6 {
		padding: 60px
	}
	.sm-mt-0 {
		margin-top: 0
	}
	.sm-mb-0 {
		margin-bottom: 0
	}
	.sm-m-0 {
		margin: 0
	}
	.sm-mt-1 {
		margin-top: 10px
	}
	.sm-mb-1 {
		margin-bottom: 10px
	}
	.sm-m-1 {
		margin: 10px
	}
	.sm-mt-2 {
		margin-top: 20px
	}
	.sm-mb-2 {
		margin-bottom: 20px
	}
	.sm-m-2 {
		margin: 20px
	}
	.sm-mt-3 {
		margin-top: 30px
	}
	.sm-mb-3 {
		margin-bottom: 30px
	}
	.sm-m-3 {
		margin: 30px
	}
	.sm-mt-4 {
		margin-top: 40px
	}
	.sm-mb-4 {
		margin-bottom: 40px
	}
	.sm-m-4 {
		margin: 40px
	}
	.sm-mt-5 {
		margin-top: 50px
	}
	.sm-mb-5 {
		margin-bottom: 50px
	}
	.sm-m-5 {
		margin: 50px
	}
	.sm-mt-6 {
		margin-top: 60px
	}
	.sm-mb-6 {
		margin-bottom: 60px
	}
	.sm-m-6 {
		margin: 60px
	}
	.col-sm,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9 {
		box-sizing: border-box;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding-right: .5rem;
		padding-left: .5rem
	}
	.col-sm {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		max-width: 100%
	}
	.col-sm-1 {
		-ms-flex-preferred-size: 8.33333333%;
		flex-basis: 8.33333333%;
		max-width: 8.33333333%
	}
	.col-sm-2 {
		-ms-flex-preferred-size: 16.66666667%;
		flex-basis: 16.66666667%;
		max-width: 16.66666667%
	}
	.col-sm-3 {
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%
	}
	.col-sm-4 {
		-ms-flex-preferred-size: 33.33333333%;
		flex-basis: 33.33333333%;
		max-width: 33.33333333%
	}
	.col-sm-5 {
		-ms-flex-preferred-size: 41.66666667%;
		flex-basis: 41.66666667%;
		max-width: 41.66666667%
	}
	.col-sm-6 {
		-ms-flex-preferred-size: 50%;
		flex-basis: 50%;
		max-width: 50%
	}
	.col-sm-7 {
		-ms-flex-preferred-size: 58.33333333%;
		flex-basis: 58.33333333%;
		max-width: 58.33333333%
	}
	.col-sm-8 {
		-ms-flex-preferred-size: 66.66666667%;
		flex-basis: 66.66666667%;
		max-width: 66.66666667%
	}
	.col-sm-9 {
		-ms-flex-preferred-size: 75%;
		flex-basis: 75%;
		max-width: 75%
	}
	.col-sm-10 {
		-ms-flex-preferred-size: 83.33333333%;
		flex-basis: 83.33333333%;
		max-width: 83.33333333%
	}
	.col-sm-11 {
		-ms-flex-preferred-size: 91.66666667%;
		flex-basis: 91.66666667%;
		max-width: 91.66666667%
	}
	.col-sm-12 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%
	}
	.start-sm {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		text-align: start
	}
	.center-sm {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center
	}
	.end-sm {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		text-align: end
	}
	.middle-sm {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
}

* {
	box-sizing: border-box;
	font-family: 'Helvetica Neue LT W05 55 Roman';
	font-size: 22px;
	line-height: 1.5;
	color: #3d3d3d
}

@media only screen and (max-width:768px) {
	* {
		font-size: 18px
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Helvetica Neue LT W05 25 Ult Lt';
	font-weight: 200
}

.txt-white {
	color: #fff
}

.txt-red {
	color: #ca1719
}

.txt-blue {
	color: #3d73ff
}

.txt-green {
	color: #00a32a
}

.txt-black {
	color: #000
}

.bg-red {
	background-color: #ca1719
}

.bg-lt-red {
	background-color: #ffe5e5
}

.bg-green {
	background-color: #00a32a
}

.bg-lt-green {
	background-color: #e3ffeb
}

.bg-blue {
	background-color: #3d73ff
}

.bg-lt-blue {
	background-color: #e8eeff
}

.bg-white {
	background-color: #fff
}

.bg-black {
	background-color: #000
}

.wrapper-full {
	padding-left: .5rem;
	padding-right: .5rem;
}

.wrapper {
	max-width: 1240px;
	margin: auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.box-row {
	height: 100%
}

.pad-0 {
	padding-left: 0;
	padding-right: 0
}

.txt-center {
	text-align: center
}

a {
	text-decoration: none
}

.btn-cta {
	font-size: 24px;
	line-height: 1;
	display: inline-block;
	width: auto;
	background: #fff;
	padding: 20px 30px;
	text-decoration: none
}

@media only screen and (max-width:768px) {
	.btn-cta {
		font-size: 18px;
		padding: 15px 20px
	}
}

header {
	box-shadow: 0px 2.22251px 4.44501px rgba(0, 0, 0, 0.23);
}

header h1 {
	margin: 0;
	padding: 0;
	display: block;
}

header h1 a {
	display: block;
	height: 40px;
	width: 200px;
	background-image: url(../img/dave-sundrum-arts-k-logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: 200%;
	white-space: nowrap;
	overflow: hidden;
	margin: 10px 0
}

@media only screen and (max-width:960px) {
	header h1 a {
		height: 33px;
		width: 175px
	}
}

a.nav-link {
	display: block;
	padding: 15px;
	border: 5px solid #fff;
	color: #fff;
	font-size: 20px;
	line-height: 1;
	text-decoration: none
}

@media only screen and (max-width:768px) {
	a.nav-link {
		padding: 10px;
		font-size: 15px
	}
}

a.nav-link.nav-design {
	background-color: #ca1719
}

a.nav-link.nav-design:hover {
	background-color: #ffe5e5;
	color: #3d3d3d
}

a.nav-link.nav-art {
	background-color: #00a32a
}

a.nav-link.nav-art:hover {
	background-color: #e3ffeb;
	color: #3d3d3d
}

a.nav-link.nav-blog {
	background-color: #3d73ff
}

a.nav-link.nav-blog:hover {
	background-color: #e8eeff;
	color: #3d3d3d
}

.mobile-trigger {
	display: block;
	height: 50px;
	width: 50px;
	text-align: center;
	position: relative
}

.mobile-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -150px;
	width: 50px;
	height: auto;
	background: #fff;
	left: 0;
	display: none;
}

.mobile-nav.open {
	display: block
}

.mobile-nav li {
	border-top: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
}
.mobile-nav li:last-child {
    border-bottom: 1px solid #dcdcdc;
}

.mobile-nav li a {
	cursor: pointer
}

.hero-info {
	padding: 0 .5rem;
	height: 400px;
	background: #fff;
}

@media only screen and (max-width:1200px) {
	.hero-info {
		height: 300px
	}
}

@media only screen and (max-width:768px) {
	.hero-info {
		height: 200px
	}
}

.hero-info h1 {
	font-size: 58px;
	margin: 0
}

@media only screen and (max-width:1200px) {
	.hero-info h1 {
		font-size: 48px
	}
}

@media only screen and (max-width:768px) {
	.hero-info h1 {
		font-size: 40px
	}
}

.hero-info p.subtitle {
	font-family: 'Helvetica Neue LT W05 65 Medium';
	font-size: 29px;
	margin: 0;
	color: #c4c4c4
}

@media only screen and (max-width:1200px) {
	.hero-info p.subtitle {
		font-size: 20px
	}
}

@media only screen and (max-width:768px) {
	.hero-info p.subtitle {
		font-size: 16px
	}
}

.intro-section .wrapper {
	max-width: 800px;
}

.intro-section .section-icon {
	max-width: 180px;
	width: 100%;
	height: auto
}

@media only screen and (max-width:768px) {
	.intro-section .section-icon {
		max-width: 100px
	}
}

.intro-section h2.section-head {
	font-size: 48px;
	margin: 0 0 0 40px;
	padding: 0;
	line-height: 1;
	white-space: nowrap
}

@media only screen and (max-width:1200px) {
	.intro-section h2.section-head {
		font-size: 40px
	}
}

@media only screen and (max-width:768px) {
	.intro-section h2.section-head {
		margin: 20px 0 0 0;
		font-size: 30px
	}
}

.section-icon-small {
	height: 115px;
	width: 115px
}

@media only screen and (max-width:768px) {
	.section-icon-small {
		height: 70px;
		width: 70px
	}
}

h3.section-head {
	font-size: 32px;
	margin: 0 0 0 40px;
	padding: 0;
	line-height: 1;
	white-space: nowrap
}

@media only screen and (max-width:1200px) {
	h3.section-head {
		font-size: 28px;
		margin: 0 0 0 20px
	}
}

@media only screen and (max-width:768px) {
	h3.section-head {
		font-size: 24px
	}
}

img.section-large-image {
	border: 30px solid #fff;
	width: 100%;
	max-width: 1024px
}

@media only screen and (max-width:768px) {
	img.section-large-image {
		border: 15px solid #fff
	}
}

h2.title {
	font-size: 48px;
	padding: 0;
	line-height: 1
}

@media only screen and (max-width:1200px) {
	h2.title {
		font-size: 40px
	}
}

@media only screen and (max-width:768px) {
	h2.title {
		margin: 20px 0;
		font-size: 30px
	}
}

.logo-wrapper {
	max-width: 1072px;
	background-color: #fff;
	margin: auto
}

.logo-wrapper img {
	width: 100%;
	max-width: 200px
}

p.title-year {
	color: #a3a3a3
}

.section-art img {
	width: 100%
}

.border-thick {
	border: 80px solid #fff
}

@media only screen and (max-width:768px) {
	.border-thick {
		border: 40px solid #fff
	}
}

.border-no {
	border: 0
}

.image-wide {
	width: 100%
}

.section-blog h2.post-title {
	font-family: 'Helvetica Neue LT W05 65 Medium';
	color: #3d73ff;
	font-size: 36px;
	padding: 0;
	line-height: 1
}

@media only screen and (max-width:1200px) {
	.section-blog h2.post-title {
		font-size: 30px
	}
}

@media only screen and (max-width:768px) {
	.section-blog h2.post-title {
		font-size: 24px
	}
}

.section-blog p.post-date {
	color: #a3a3a3;
	font-size: 22px
}

@media only screen and (max-width:1200px) {
	.section-blog p.post-date {
		font-size: 20px
	}
}

@media only screen and (max-width:768px) {
	.section-blog p.post-date {
		font-size: 18px
	}
}

.section-blog img {
	width: 100%
}

.dave-photo-box {
	border: 10px solid;
	border-radius: 50%;
	overflow: hidden;
	max-width: 150px;
	max-height: 150px;
	margin: auto
}

.dave-photo-box img {
	width: 100%
}

.subscribe-button {
	border: 1px solid #00a32a
}

footer {
	background: #ededed
}

footer p {
	color: #999
}

.footer-extend p {
	color: #fff;
	font-size: 12px
}

.footer-logo {
	max-width: 150px;
	width: 100%
}


/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none
}

::selection {
	background: #b3d4fc;
	text-shadow: none
}

img,
svg {
	vertical-align: middle
}

@media print {
	*,
	:after,
	:before {
		background: 0 0!important;
		color: #000!important;
		box-shadow: none!important;
		text-shadow: none!important
	}
	a,
	a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: ""
	}
	img {
		page-break-inside: avoid
	}
	h2,
	h3,
	p {
		orphans: 3;
		widows: 3
	}
	h2,
	h3 {
		page-break-after: avoid
	}
}
